body{
    margin: 0;
    background-image: url("backgroung_meitu_2.jpg");
    background-size: cover;
    /*background-repeat: no-repeat;*/
}
.container{
    width: 50%;
    /*height: 500px;*/
    margin: 14% 42%;
    /*background-color: darkblue;*/
}
.container input{
    height: 50px;
    width: 60%;
    opacity: 0.5;
    float: left;
    font-size: 15px;
    border-radius: 20px;
}
button{
    height: 50px;
    width: 19%;
    float: left;
    font-size: 25px;
    opacity: 0.6;
    border-radius: 20px;
    /*background-image: url("bachgroung.jpg");*/
}
.footer{
    /*background-color: aqua;*/
    /*width: 55%;*/
    margin: 20%;
    text-align: center;
    /*padding-top: 350px;*/
}
.header{
    margin-top: 10px;
    margin-left: 80%;
}
.header a{
    padding-right: 20px;
    color: white;
    /*text-decoration: none;*/
}
.header a:hover{
    font-weight: bold;
}