body{
    margin: 0;
}
.loginbox{
    width: 30%;
    margin: 300px auto;
}
.loginbox input{
    height: 30px;
    width: 250px;
}
.loginbox button{
    margin-left: 11%;
    height: 30px;
    width: 100px;
}